.header-container {
    max-width: 100%;
    width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}